.index__h1 {
  font-size: 24px;
  font-weight: 520;
  margin-right: 50px;
}

html{
  height: 100%;
}


body{
  display: flex;
  color: $gray-900;
  height: 885px;
  line-height: 1.5;
  a{
    text-decoration: none;
  }
}

.sidebar{
  background: $gray-100;
  height: 100%;
  .logo a img{
    margin-right: 113px;

  }
}

.mb-177{
  margin-bottom: 177px;
}

.mb-372{
  margin-bottom: 372px;
}

.container{
  padding: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container2{
  padding: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.contact{
  display: flex;
}


.contact img{
  width:40px;
}

.contact-img{
  width: 40px;
  a{
    display: inline-block;
  }
}

.content{
  height: 100vh;
  display: flex;
  width: 76.875%;
}

//color//

.g6{
  color: $secondary;
}

//---color----//

.dropdown-label{
  font-size: $small-font-size;
  text-align: center;
}

.dropdown-menu{
  background-color: $success;
}

.nav-bar{
  margin-bottom: 44px;
}

.nav-bar-left{
  display: flex;
  align-items: center; 
}

.mr-26{
  margin-right: 26px;
}

.nav-item{
  display: flex;
  font-weight: 520;
}

.logo{
  width: 152px;
}


.nav-item a {
  padding-left: 0;
  span{
  display: block;
  margin-right: 2px;
  width: 24px;
  margin-left: 0;
}
}

.nav-drop{
  position: relative;
  width: 24px;
  
  img{
    position: absolute;
    z-index: index 1;
  }
}

.title-bar{
  margin-bottom: 6px;
}


.title-bar a{
  color: $gray-600;
  font-style: 12px;
}

.list-group{
  width: 34.78%;
}

.reply-area{
  width: 63.47%;
}

.to-do-list{
  margin-bottom: 0;
 p{
  font-size: 12px;
  margin-bottom: 0;
}
 h3{
  margin-bottom: 0;
 }
}

.list-group-item{
  padding: 12px;
}

.card-body-left{
  width: 40px;
  margin-right: 8px;
  img{
    width: 40px;
  }
}

.card-body-right{
  border-bottom: 1px solid #CED4DA;
  h5{
    font-size: 16px;
    margin-bottom: 4px;
  }
  p{
    margin-bottom: 16px;
  }
}

.card-header{
  padding: 12px;
  p{
  font-size: 12px;
  margin-bottom: 4px;
}

  h5{
    font-size: 16px;
    margin-bottom: 0;
  }

}

.fz-12{
  font-size: 12px;
}

.fz-14{
  font-size: 14px;
}

.material-icons{
  display: block;
  :hover{
   color: #198754;
  }
}

.nav-item a:hover{
  color: #198754;
}

.nav-link{
  padding-bottom: 0;
}

.nav-link span{
  display: block;
}

.dropdown-toggle{
  color: #198754;
}


.material-icons:hover{
   color: #198754;
  }

.zip-btn{
  width: 176px;
  height: 40px; 
  padding: 8px 16px 8px 12px;
  border: 1px solid #CED4DA;
  margin-bottom: 16.5px;
  span{
    margin-right: 4px;
  }
}

.dropdown{
  position: relative;
}

.card-body-up h5{
  color: #CED4DA;
  font-weight: 300;
  font-size: 16px;
}

.btn-info{
  color: $success;
}